<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../styles.css" rel="stylesheet" type="text/css">        
    <title>Document</title>
</head>
<body>
<hr>
<a href="/">Главная</a>|<a href="/about/">О приложении</a>|<a href="/items/">Список вещей</a>
<hr>

<div>О нашем веб-приложении</div>

</body>
</html>